{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% if form.children|length %}
    <div class="ui stackable grid">
        {% if form.vars.clear_all_button %}
            <div class="sixteen wide column">
                <a class="ui primary icon labeled button" href="{{ path('sylius_shop_product_index', omni_filter_get_reset_all_query_params(app.request)) }}">
                    {{ 'omni_filter.clear_attributes'|trans}}
                </a>
            </div>
        {% endif %}
        {% for attribute_filter in form.children %}
            <div class="five wide column">
                {{ form_row(attribute_filter) }}
                {% if form.vars.clear_attribute_button %}
                    <a href="{{ path('sylius_shop_product_index', omni_filter_get_reset_query_params(app.request, attribute_filter.vars.name)) }}">
                        {{ 'omni_sylius.form.product_attribute.clear'|trans }}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
