<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"></script>

<script>
    var slider = document.getElementById('slider');
    var lower = document.getElementById('criteria_price_lower');
    var upper = document.getElementById('criteria_price_upper');

    noUiSlider.create(slider, {
        start: [
            Number(lower.value),
            Number(upper.value)
        ],
        connect: true,
        tooltips: true,
        range: {
            'min': Number(lower.getAttribute('data-lower')),
            'max': Number(upper.getAttribute('data-upper'))
        }
    });

    slider.noUiSlider.on('update', function( values, handle ) {
        var value = values[handle];

        if ( handle ) {
            upper.value = value;
        } else {
            lower.value = value;
        }
    });
</script>
